:root {
    --clr-background: "";
    --clr-base: "";
    --clr-primary: "#645fc6";
    --clr-highlight-1: "#50c1df";
    --clr-hightlight-2: "#67dcaf";
    --text-primary: "#000000";
    --text-secondary: "#858c9c";
}

.dark-mode {
    --clr-background: "#21212d";
    --clr-base: "#2c2c38";
    --text-primary: "#c5c5cc";
}
